<h1>Рейтинг книг в библиотеках</h1>
  <table class="table table-bordered table-dark">
    <thead>
       <tr>
        <td>Имя библиотеки</td>
        <td>1 место</td>
        <td>2 место </td>
        <td>3 место</td>
        <td>4 место</td>
        <td>5 место</td>
        <td>6 место</td>
        <td>7 место</td>
        <td>8 место</td>
        <td>9 место</td>
        <td>10 место</td>
      </tr>
    </thead>
  <tbody>
   <% Library.find_each do |library| %>
        <tr>
            <td><%= library.name %></td>
            <% Book.where("library_id = '1'") %>
            <td><%= Book.count%> </td>
        </tr>
        <% end %>
         
    </tbody>
  </table>